---
layout: default
---

<div class="container">
  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
    <div class="article" data-aos="fade-right" data-aos-easing="ease-out-quad" data-aos-duration="750">
      {% if post.image %}
      <div class="article__image-box">
        <a href="{{post.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
      </div>
      {% endif %}
      <div class="article__content">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h2 class="article__title">
            {{post.title}}
          </h2>
          <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 130 }}{% endif %}</p>
        </a>
      </div>
    </div>
    {% endfor %}
  {% endif %}

  <div style="text-align: center;"><strong>Order Cepat dari Katalog:</strong></div>
  <div class="katalog">
    <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="https://th.bing.com/th/id/OIP.KkTqCko4qf_avBI1rtZ4yQHaHa?pid=Api&rs=1" alt="Cinque Terre">
    </a>
    </div>

    <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="https://th.bing.com/th/id/OIP.e4DztNc5sNL1IMzkzJGCQAHaHa?w=206&h=206&c=7&o=5&pid=1.7" alt="Forest">
    </a>
    </div> 

    <div class="gallery">
    <a target="_blank" href="img_lights.jpg">
      <img src="https://th.bing.com/th/id/OIP.pfybnLpq_DVZzdiEy-z-GwHaHa?w=209&h=208&c=7&o=5&pid=1.7" alt="Northern Lights">
    </a>
    </div>

    <div class="gallery">
      <div class="desc">Katalog<br/>▶️</div>
    </div>  
  </div>
  
</div>
