/* Article */
.article {
  display: flex;
  margin-bottom: 50px;
  @media (max-width: $mobile) {
  margin-bottom: 25px;
  }
}

.article__image-box {
  display: table;
  margin-right: 30px;
  @media (max-width: $mobile) {
  margin-right: 15px;
  }
}

.article__image {
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 4%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $gray-white;
  margin-top: 10px;
  @media (max-width: $mobile) {
  width: 65px;
  height: 65px;
  margin-top: 0px;
  }
}

.article__title {
  margin: 0;
  a {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    color: $gray;
    &:hover {
      color: $primary-color;
    }
  }
  @media (max-width: $mobile) {
  a {font-size: 15px;
    font-weight: 700;
    }
  }
}

.article__meta {
  margin-bottom: 15px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: $gray-dark;
  @media (max-width: $mobile) {
  font-size: 9px;
  line-height: 15px;
  }
}

.article__excerpt {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 27px;
  color: $gray;
  @media (max-width: $mobile) {
    display: none;
  }
}

.excerptmobile {
  @media (max-width: $mobile) {
  margin-bottom: 15px;
  font-size: 10px;
  line-height: 15px;
  color: $gray;
  }
}

.read-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-decoration: underline;
  color: $primary-color;
  @media (max-width: $mobile) {
    display: none;
  }
}

@media (max-width: $mobile) {
  h2 {
  line-height: 25px;
  }
}
